form {
    margin: 0;
    padding: 0;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  form button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
  }
  